body { font-family: 'Quicksand', 'Roboto', sans-serif; font-weight: 500 }

#set-menu-open { margin: 1em 0 0 1em; animation: fade-out 0.5s ease 0.5s; filter: opacity(0) }
#set-menu-open:hover { animation: fade-in 0.5s ease; filter: opacity(1) }
#set-menu-open-wrap { position: absolute }
#set-menu-close { margin: 1em 1em 0 0 }

#set-menu-head { padding: 0.3em 0 0 0 }
#set-menu-title { font-size: 2.975em; margin: 0 0 0 0.2em }
#set-menu-subtitle { font-size: 1.5em; margin: 0 0 0 0.55em }

#main { padding-top: 3em; }
#time { margin: 0; font-size: 20vw; text-align: center }
#hour, #minute { font-family: 'Verela Round', monospace }
#hm-sep { vertical-align: text-top } #mid { font-weight: 500 }

.no-show { display: none }

@keyframes screw-in { from { transform: rotate(0turn) scale(1) } to { transform: rotate(0.625turn) scale(0.9) } }
@keyframes screw-out { from { transform: rotate(0.625turn) scale(0.9) } to { transform: rotate(0turn) scale(1) } }
.screw-in { animation: screw-in 0.7s ease; transform: rotate(0.625turn) scale(0.9) }
.screw-out { animation: screw-out 0.7s ease; transform: rotate(0turn) scale(1) }
.screwed { transform: rotate(0.625turn) scale(0.9) }

@keyframes blur-in { from { filter: blur(0) } to { filter: blur(5px) } }
@keyframes blur-out { from { filter: blur(5px) } to { filter: blur(0) } }
.blur-in { animation: blur-in 0.7s ease; filter: blur(5px) }
.blur-out { animation: blur-out 0.7s ease; filter: blur(0) }
.blurred { filter: blur(5px) }

@keyframes fade-in { from { filter: opacity(0) } to { filter: opacity(1) } }
@keyframes fade-out { from { filter: opacity(1) } to { filter: opacity(0) } }
.fade-in { animation: fade-in 0.5s ease; filter: opacity(1) }
.fade-out { animation: fade-out 0.5s ease; filter: opacity(0) }
.faded-in { filter: opacity(1) !important } .faded-out { filter: opacity(0) !important }